* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh; 
    /* It will force to take minimum height of 100% of viewport */

    background-color: dodgerblue;
}